
<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

    <main th:object="${product}" style="margin-top: 20px">
        <div class="row card  text-center">
            <div class="card-body ">

                    <img style="width: 35%" th:src="@{|/image/*{image}|}">

            </div>
        </div>
        <div class="row card " style="margin-top: 20px">
            <div class="card-body bg-light">
               <h2>CHI TIẾT</h2>
                <ul>
                    <li th:text="*{name}"></li>
                    <li th:text="*{price}"></li>
                    <li th:text="*{createDate}"></li>
                    <li th:text="*{category.name}"></li>
                </ul>
                </div>
        </div>

        <div class="row card" style="margin-top: 20px">
            <div class="card-body ">
                <h2>CÙNG LOẠI</h2>
                <ul>
                    <li th:each="p: *{category.products}">
                        <a th:href="@{|/product/detail/${p.id}|}" th:text="${p.name}"></a>
                    </li>
                </ul>

            </div>
        </div>


    </main>

</div>
