
<nav xmlns:th="http://www.thymeleaf.org" class="navbar navbar-expand-lg  border navbar-light bg-light "  style="margin-top: 5px">
  <div class="container-fluid text-black">

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav nav-tabs me-auto mb-2 mb-lg-0">
        <li class="nav-item active"><a
                class="btn border-0 btn-outline-secondary " aria-current="page"
                th:href="@{/product/list}"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
          <path fill-rule="evenodd"
                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
        </svg> Trang Chủ</a></li>



          <li class="nav-item "><a
                  class="btn border-0 btn-outline-secondary" aria-current="page"
                  href="/order/list"><svg xmlns="http://www.w3.org/2000/svg"
                                     width="16" height="16" fill="currentColor"
                                     class="bi bi-chat-square-dots" viewBox="0 0 16 16">
            <path
                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path
                    d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
          </svg>Đơn Hàng</a></li></c:if>





          <li th:if="${#request.isUserInRole('DIRE')}" class="nav-item "><a
                  class="btn border-0 btn-outline-secondary" aria-current="page"
                  th:href="@{/admin/index.html}">Administration</a></li>






      </ul>
      <ul class="navbar-nav ml-auto nav-tabs">

        <li class="nav-item dropdown">




          <a th:unless="${#request.remoteUser}" class="nav-link dropdown-toggle border" href="#"
             id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
          </svg> Tài Khoản </a>
          <a th:if="${#request.remoteUser}" class="nav-link dropdown-toggle border" href="#"
             id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
          </svg>[[${#request.remoteUser}]]</a>



          <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
             >

              <li th:unless="${#request.remoteUser}"><a class="dropdown-item" href="/security/register">Đăng
                Kí</a></li>




              <li  th:unless="${#request.remoteUser}"><a class="dropdown-item" href="/security/loginForm">Đăng
                Nhập</a></li>
              <li th:if="${#request.remoteUser}"><a class="dropdown-item" href="/security/logout">Đăng
                Xuất <i class="bi bi-box-arrow-right"></i></a></li>
            <hr class="dropdown-divider"></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>