<div class="card" ng-if="items">
	<div class="card-header">PRODUCT LIST</div>
	<table class="table table-striped table-hover">
		<thead class="bg-success" style="font-variant: small-caps;">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Date</th>
				<th>Image</th>
				<th>Category</th>
				<th>Available?</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in pager.items">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.price | number : 2}}</td>
				<td>{{item.createDate | date : 'dd-MM-yyyy'}}</td>
				<td>
					<img  ng-src="/image/{{item.image}}" style="width: 50px;height: 50px;" alt="">
				</td>
				<td>{{item.category.name}}</td>
				<td>{{item.available?'Yes':'No'}}</td>
				<td>
					<div class="btn-group btn-group-xs">
						<a ng-click="edit(item)" href="" class="btn btn-warning">
							<i class="bi bi-gear"></i>
						</a>
						<a ng-if="item.available == true" ng-click="delete(item)" href="" class="btn btn-danger">
							<i class="bi bi-trash3-fill"></i>
						</a>
						<a ng-if="item.available == false" ng-click="delete(item)" href="" class="btn btn-success">
							<i class="bi bi-arrow-repeat"></i>
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="card-footer text-center">
		<button ng-click="pager.first()" class="btn btn-danger">
			<i class="bi bi-arrow-up-square-fill"></i>
		</button>
		<button ng-click="pager.prev()" class="btn btn-primary">
			<i class="bi bi-arrow-bar-left"></i>
		</button>
		<button class="btn btn-success">
			{{pager.page + 1}} of {{pager.count}}
		</button>
		<button ng-click="pager.next()" class="btn btn-primary">
			<i class="bi bi-arrow-bar-right"></i>
		</button>
		<button ng-click="pager.last()" class="btn btn-danger">
			<i class="bi bi-arrow-down-square-fill"></i>
		</button>
	</div>
  </div>